<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Meat 🥩 </string>
	<string>Frog legs</string>
	<string>Pork 🥩 </string>
	<string>Pork loin</string>
	<string>Beef</string>
	<string>Veal</string>
	<string>Beef tongue</string>
	<string>Beef liver</string>
	<string>Lamb</string>
	<string>Rabbit</string>
	<string>Chicken 🍗 </string>
	<string>Chicken Breast</string>
	<string>Chicken legs</string>
	<string>Chicken</string>
	<string>Chicken liver</string>
	<string>Chicken hearts</string>
	<string>Turkey thigh (fillet)</string>
	<string>Turkey shin</string>
	<string>Turkey breast (fillet)</string>
	<string>Turkey</string>
	<string>Turkey liver</string>
	<string>Goose</string>
	<string>Duck (duck meat)</string>
	<string>Foie gras</string>
	<string>Pork fat (pork fat)</string>
	<string>Pork fat (lard)</string>
	<string>Bones for soup</string>
	<string>Sausage</string>
	<string>Smoked sausage</string>
	<string>Raw sausage</string>
	<string>Dried sausage</string>
	<string>Ham</string>
	<string>Sausages</string>
	<string>Sausages</string>
	<string>Dumplings</string>
	<string>Khinkali</string>
	<string>Manty</string>
	<string>Chicken cutlets</string>
	<string>Meat cutlets</string>
	<string>Ham</string>
	<string>Pork</string>
	<string> Ribs</string>
</array>
</plist>
