<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Peanut butter</string>
    <string>Mustard oil</string>
    <string>Sesame oil</string>
    <string>Linseed oil</string>
    <string>Olive oil</string>
    <string>Palm oil</string>
    <string>Sunflower oil</string>
    <string>Mayonnaise</string>
    <string>Salt🧂</string>
    <string>Pepper</string>
</array>
</plist>
