<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Soy beans</string>
	<string>Soy sauce</string>
	<string>Soy cheese tofu</string>
	<string>Melon</string>
	<string>Potato 🥔</string>
	<string>mashed potatoes</string>
	<string>Wasabi</string>
	<string>Daikon</string>
	<string>ginger Root</string>
	<string>Root chicory</string>
	<string>Carrot 🥕</string>
	<string>Radishes</string>
	<string>Turnips</string>
	<string>Beetroot</string>
	<string>Onion</string>
	<string>shallot</string>
	<string>Garlic 🧄</string>
	<string>Eggplant 🍆</string>
	<string>bell Pepper</string>
	<string>Pepper chili red hot</string>
	<string>Tomatoes 🍅</string>
	<string>Physalis</string>
	<string>Squash</string>
	<string>Cucumber 🥒</string>
	<string>Squash</string>
	<string>Pumpkin</string>
	<string>Peanuts</string>
	<string>Beans</string>
	<string>green Beans</string>
	<string>Pea</string>
	<string>peas</string>
	<string>Chickpea</string>
	<string>white Beans</string>
	<string>red Beans (Kidney)</string>
	<string>green Beans</string>
	<string>black Beans</string>
	<string>Lentils</string>
	<string>Broccoli 🥦</string>
	<string>Chinese Broccoli</string>
	<string>Brussels sprouts</string>
	<string>Cabbage</string>
	<string>sauerkraut</string>
	<string>red Cabbage</string>
	<string>Kale</string>
	<string>Cabbage</string>
	<string>Savoy Cabbage</string>
	<string>Cauliflower</string>
	<string>Lettuce 🥬</string>
	<string>iceberg Lettuce</string>
	<string>lettuce</string>
	<string>Artichokes</string>
	<string>Bamboo shoots</string>
	<string>🌽 Corn</string>
	<string>Corn</string>
	<string>Celery</string>
	<string>Asparagus</string>
	<string>Cilantro (coriander leaves)</string>
	<string>green Onion</string>
	<string>the Welsh Onion</string>
	<string>Leeks 🧅</string>
	<string>Parsley</string>
	<string>Arugula</string>
	<string>Spinach</string>
	<string>Sorrel</string>
	<string>chili Pepper 🌶 spicy</string>
	<string>the ginger</string>
	<string>Bay leaf</string>
	<string>Apricot</string>
	<string>Quince</string>
	<string>Oranges 🍊</string>
	<string>Watermelon 🍉</string>
	<string>Bananas</string>
	<string>Garnet</string>
	<string>Grapefruit</string>
	<string>Pear 🍐</string>
	<string>Melon</string>
	<string>Figs</string>
	<string>🥝 Kiwi</string>
	<string>lime</string>
	<string>Lemon 🍋</string>
	<string>Tangerines</string>
	<string>Olives</string>
	<string>Olive green</string>
	<string>Peach 🍑</string>
	<string>Plum</string>
	<string>Persimmon</string>
	<string>🍏 Apples</string>
	<string>Apples</string>
	<string>Grapes 🍇</string>
	<string>cherry 🍒</string>
	<string>Blueberry</string>
	<string>BlackBerry</string>
	<string>Strawberry 🍓</string>
	<string>Cranberry</string>
	<string>Gooseberry</string>
	<string>Raspberry</string>
	<string>red Currants or white</string>
	<string>black Currant</string>
	<string>Goji Berry</string>
	<string>Avocado</string>
	<string>Pineapple 🍍</string>
	<string>Guava</string>
	<string>durian</string>
	<string>Mango</string>
	<string>Passion fruit</string>
	<string>Medlar</string>
	<string>Papaya</string>
	<string>Pomelo</string>
	<string>Feijoa</string>
	<string>Bananas 🍌</string>
	<string>Raisins</string>
	<string>Apricots</string>
	<string>Dates</string>
	<string>Prunes</string>
	<string>Hibiscus</string>
	<string>Mushroom</string>
	<string>Mushroom wood</string>
	<string>oyster Mushrooms</string>
	<string>chanterelle Mushrooms</string>
	<string>Maitake Mushrooms</string>
	<string>Mushrooms</string>
	<string>Coconut</string>
	<string>coconut Flesh</string>
	<string>the Peanuts</string>
	<string>Brazilian walnut</string>
	<string>walnut</string>
	<string>Pine nuts</string>
	<string>Cashew</string>
	<string>Almond</string>
	<string>Macadamia Nut</string>
	<string>Pecan</string>
	<string>Pistachio</string>
	<string>Hazelnut</string>
	<string>Coconut 🥥</string>
</array>
</plist>
