<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Bread 🍞</string>
    <string>Pancakes 🥞</string>
    <string>Buns</string>
    <string>Pita bread</string>
    <string>Breadcrumbs</string>
    <string>Tortilla</string>
    <string>Focaccia</string>
    <string>White wheat bread</string>
    <string>Multi-grain bread</string>
    <string>Oat bread</string>
    <string>Whole wheat bread</string>
    <string>Rye bread</string>
    <string>Multi-grain bread</string>
    <string>Rye bread</string>
    <string>Loaf🥖</string>
    <string>Pie 🥮</string>
</array>
</plist>
