<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Pasta 🍝</string>
    <string>Sushi 🍣</string>
    <string>Pies 🥟</string>
    <string>Rice 🍚</string>
    <string>Salad 🥗</string>
    <string>Noodles 🍜</string>
    <string>Julien 🍲</string>
    <string>Hamburger 🍔 </string>
    <string>Hot dog 🌭 </string>
    <string>French fries 🍟</string>
    <string>Pizza 🍕</string>
    <string>Kebab 🥙</string>
    <string>Tortilla 🌯</string>
    <string>Pilaf</string>
    <string>Khachapuri</string>
</array>
</plist>
