<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Паста 🍝</string>
    <string>Суши 🍣</string>
    <string>Пирожки 🥟</string>
    <string>Рис 🍚</string>
    <string>Салат 🥗</string>
    <string>Лапша 🍜</string>
    <string>Жульен 🍲</string>
    <string>Гамбургер 🍔 </string>
    <string>Хот-дог 🌭 </string>
    <string>Картофель фри 🍟</string>
    <string>Пицца 🍕</string>
    <string>Кебаб 🥙</string>
    <string>Тортилья 🌯</string>
    <string>Плов</string>
    <string>Хачапури</string>
</array>
</plist>
