<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Рубашка</string>
    <string>Штаны</string>
    <string>Куртка</string>
    <string>Носки</string>
    <string>Трусы</string>
    <string>Майка</string>
    <string>Кофта</string>
    <string>Шапка</string>
    <string>Шарф</string>
    <string>Перчатки</string>
    <string>Брюки</string>
    <string>Галстук</string>
    <string>Костюм</string>
</array>
</plist>
