<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Яйца</string>
    <string>Яйцо гусиное</string>
    <string>Яйцо индейки</string>
    <string>Яйцо куриное</string>
    <string>Яйцо куриное</string>
    <string>Яйцо перепелиное</string>
    <string>Яйцо утиное</string>
</array>
</plist>
