<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Масло арахисовое</string>
    <string>Масло горчичное</string>
    <string>Масло кунжутное</string>
    <string>Масло льняное</string>
    <string>Масло оливковое</string>
    <string>Масло пальмовое</string>
    <string>Масло подсолнечное</string>
    <string>Майонез</string>
    <string>Соль 🧂</string>
    <string>Перец</string>
</array>
</plist>
