<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Чипсы</string>
    <string>Семечки</string>
    <string>Сухарики</string>
    <string>Кальмар сушенный</string>
    <string>Рыба соленая</string>
</array>
</plist>
